extensions:
  health_check:
    endpoint: 0.0.0.0:13133

receivers:
  filelog:
    include:
      - /var/log/pods/*/*/*.log
    include_file_name: false
    include_file_path: true
    start_at: end
    operators:
      - type: container

exporters:
  otlphttp:
    endpoint: "http://{{ .Release.Name }}-loki-gateway.{{ .Release.Namespace }}.svc.cluster.local/otlp"

processors:
  k8sattributes:
    auth_type: "serviceAccount"
    pod_association:
      - sources:
          - from: resource_attribute
            name: k8s.pod.name
          - from: resource_attribute
            name: k8s.namespace.name
    extract:
      metadata: # extracted from the pod
        - k8s.namespace.name
        - k8s.pod.name
        - k8s.pod.ip
        - k8s.replicaset.name
        - k8s.deployment.name
        - k8s.daemonset.name
        - k8s.statefulset.name
        - k8s.cronjob.name
        - k8s.job.name
        - k8s.node.name
        - service.name
        - k8s.container.name
      labels:
        - tag_name: app
          key: app
          from: pod
  resource:
    attributes:
      - key: job
        value: "logs"
        action: upsert
      - action: upsert
        key: agent
        value: otel
      - action: upsert
        key: agent_node
        value: "${env:NODE_NAME}"
service:
  extensions:
    - health_check
  pipelines:
    logs:
      receivers: [filelog]
      processors: [resource, k8sattributes]
      exporters: [otlphttp]
