{{ if and .Values.ingress.enabled (or .Values.ingress.prometheus.enabled .Values.ingress.grafana.enabled) }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Release.Name }}-ingress
  namespace: {{ .Release.Namespace }}
spec:
  {{- if .Values.ingress.ingressClassName }}
  ingressClassName: {{ .Values.ingress.ingressClassName }}
  {{- end }}
  rules:
    {{- if .Values.ingress.prometheus.enabled }}
      {{- if and (not .Values.ingress.prometheus.host) (not .Values.ingress.prometheus.path) }}
        {{- fail "either ingress.prometheus.host or ingress.prometheus.path is required when ingress.enabled is true" }}
      {{- end }}
    - host: {{ not .Values.ingress.prometheus.host | ternary .Values.ingress.domain .Values.ingress.prometheus.host}}
      http:
        paths:
          - path: {{ .Values.ingress.prometheus.path | default "/" }}
            pathType: Prefix
            backend:
              service:
                name: prometheus-operated
                port:
                  name: http-web
    {{- end }}
    {{- if .Values.ingress.grafana.enabled }}
    - host: {{ not .Values.ingress.grafana.host | ternary .Values.ingress.domain .Values.ingress.grafana.host }}
      {{- if and (not .Values.ingress.grafana.host) (not .Values.ingress.grafana.path) }}
        {{- fail "either ingress.grafana.host or ingress.grafana.path is required when ingress.enabled is true" }}
      {{- end }}
      http:
        paths:
          - path: "{{ .Values.ingress.grafana.path | default "/" }}"
            pathType: Prefix
            backend:
              service:
                name: grafana-service
                port:
                  name: grafana
    {{- end }}
  {{ if .Values.ingress.tls }}
  tls:
    - hosts:
      {{- if and .Values.ingress.tls .Values.ingress.prometheus.enabled }}
        - {{ .Values.ingress.prometheus.host }}
      {{- end }}
      {{- if and .Values.ingress.tls .Values.ingress.grafana.enabled }}
        - {{ .Values.ingress.grafana.host }}
      {{- end }}
      secretName: prometheus-prometheus-tls
  {{ end }}
{{ end }} # if ingress.enabled
