{{- if and .Values.microservices.enabled (eq (include "rocketchat.streamHub.enabled" .) "true") }}
{{- if semverCompare ">=8.0.0" (.Values.image.tag | default .Chart.AppVersion) }}
{{- fail "Stream Hub microservice is only supported in Rocket.Chat versions prior to 8.0.0, please set microservices.streamHub.enabled to false before upgrading to 8.0.0 or later." -}}
{{- end }}




apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-stream-hub
  labels:
    app.kubernetes.io/name: {{ include "rocketchat.name" . }}
    helm.sh/chart: {{ include "rocketchat.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    {{- if .Values.deploymentLabels }}
      {{- toYaml .Values.deploymentLabels | nindent 4 }}
    {{- end }}
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Release.Name }}-stream-hub
      app.kubernetes.io/instance: {{ .Release.Name }}
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .Release.Name }}-stream-hub
        app.kubernetes.io/instance: {{ .Release.Name }}
        {{- if .Values.podLabels }}
          {{- toYaml .Values.podLabels | nindent 8 }}
        {{- end }}
      annotations:
       {{ include "rocketchat.annotations" (dict "name" "streamHub" "context" $) | indent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
          {{- toYaml . | nindent 8 }}
      {{- end }}
      tolerations:
        {{ include "rocketchat.tolerations" (dict "name" "streamHub" "context" $) | indent 8 }}
      nodeSelector:
        {{ include "rocketchat.nodeSelector" (dict "name" "streamHub" "context" $) | indent 8 }}      
      affinity:
        {{ include "rocketchat.nodeAffinity" (dict "name" "streamHub" "context" $) | indent 8 }}   
      containers:
      - name: stream-hub
        image: "{{ .Values.microservices.streamHub.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        env:
        {{- include "rocketchat.mongodb.envVars" . | nindent 8 }}
        {{- include "rocketchat.transporter.connectionString" (dict "Values" $.Values "Release" $.Release) | nindent 8 }}
        - name: DB_WATCHERS
          value: "true"
        - name: MOLECULER_LOG_LEVEL
          value: {{ .Values.microservices.logLevel | quote }}
        - name: HEARTBEAT_INTERVAL
          value: {{ .Values.microservices.heartbeatInterval | quote }}
        - name: HEARTBEAT_TIMEOUT
          value: {{ .Values.microservices.heartbeatTimeout | quote }}
        - name: RETRY_ENABLED
          value: 'yes'
        {{- if .Values.prometheusScraping.enabled }}
        - name: MS_METRICS
          value: "true"
        - name: MS_METRICS_PORT
          value: {{ .Values.prometheusScraping.msPort | default "9458" | quote }}
        {{- end }}
        ports:
        {{- if .Values.prometheusScraping.enabled }}
        - name: ms-metrics
          containerPort: {{ .Values.prometheusScraping.msPort }}
        {{- end }}
        volumeMounts: 
        {{- if .Values.extraVolumeMounts }}
        {{- include "common.tplvalues.render" (dict "value" .Values.extraVolumeMounts "context" $) | nindent 8 }}
        {{- end }}   
        securityContext:
          {{- toYaml .Values.microservices.streamHub.securityContext | nindent 10 }}
        resources: {{- toYaml .Values.microservices.streamHub.resources | nindent 10 }}
      volumes:
      {{- if .Values.extraVolumes }}
      {{- include "common.tplvalues.render" (dict "value" .Values.extraVolumes "context" $) | nindent 6 }}
      {{- end }}
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30

{{- else -}}
{{- if semverCompare "<=7.7.0" (.Values.image.tag | default .Chart.AppVersion) }}
{{- fail "Stream Hub microservice is required when running Rocket.Chat versions prior to 7.7.0, please set microservices.streamHub.enabled to true." -}}
{{- end }}
{{- end }}

{{/* vi: ts=8 et sw=2 smarttab */}}
