name: Test helm chart

on:
  workflow_call:
    inputs:
      tag:
        type: string
        required: true
      chartVersion:
        type: string
        required: true
  workflow_dispatch:
    inputs:
      tag:
        required: true
      chartVersion:
        required: true

env: 
  REPO: 'RocketChat/helm-charts'
  TESTS_REPO: 'RocketChat/public-releases'


jobs:
  can-i-run:
    runs-on: ubuntu-latest
    steps:
      - name: Clone helm chart repository
        uses: actions/checkout@v3
        with:
          repository: ${{ env.REPO }}
          path: ./helm-charts
      - name: Clone tests
        uses: actions/checkout@v3
        with:
          repository: ${{ env.TESTS_REPO }}
          ref: 'debdutdeb-patch-1'
          path: tests
          submodules: true

      - name: Setup k3d
        uses: AbsaOSS/k3d-action@main
        with:
          cluster-name: helm
          
      - name: Show helm version
        run: helm version

      - name: Run tests
        shell: bash
        env:
          ROCKETCHAT_MAX_ATTEMPTS: 250
          ROCKETCHAT_TAG: ${{inputs.tag}}
          HELM_TAG: ${{inputs.chartVersion}}
        run: |
          sudo apt-get install --no-install-recommends -y jo jq
          export ROCKETCHAT_CHART_DIR="$(realpath ./helm-charts/rocketchat)"
          cd tests &&
            bash run_k8s.bash

